body {
    padding: 0;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;;
    /*text-align: justify;*/
}

.map {
    position: absolute;
    right: 0px;
    left: 0px;
    height: 100%;
}

.sidebar {
    position: absolute;
    z-index: 1;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 400px;
    overflow-y: auto;
    background-color: white;
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

.leaflet-draw.leaflet-control{
  top: 20px;
  right: 50px;
}

.searchboxes {
  position: absolute;
  z-index: 2000;
  right:110px;
  top:10px;
  padding: 5px 10px 5px 10px;
  font-weight: bold;
}

.searchboxes td{
  height: 40px;
  width:130px;
}

#rank-min,
#rank-max {
  width:100px;
}

#filter{
  margin-left: 20px;
  margin-top: 100px;
  margin-bottom: 10px;
  font-weight: bold;
}

#filter td{
  height:30px;
}

.shape{
  background-color: #f5f5f5;
  opacity: 0.9;
  filter: alpha(opacity=90);
  height:180px;
  width:360px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin: 20px 20px 20px 20px;
  padding-left: 10px;
  font-weight: bold;
}

#clearSearchResult{
  width: 110px;
  margin-left: 20px;
  /*top: 200px;*/
  color: black;
  background: rgba(0,0,0,0);
  border: solid 1px black;
}


#clearSearchResult:hover {
  border-width: 2px;
  font-weight: bold;
}

.leaflet-marker-icon {
    border:2px solid rgba(255,255,255,0.5);
    border-radius:50%;
}

.icon-first {
    background-color: #282345;
}

.icon-second {
    background-color: #463e79;
}

.icon-third {
    background-color: #5d52a0;
}

.icon-fourth {
    background-color: #7e75b8;
}

.clicked-icon{
  background-color: #c40000;
}
